@page
@using CIS341_lab3.Pages
@model ContactModel
@{
}
<h1>Contact us</h1>

<div>
    <form method="POST" asp-action="Contact">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Message" class="form-label"></label>
        <input asp-for="Message" class="form-control" />
    </div>
    <div><input class="btn btn-primary" type="submit" value="Submit"></div>
    </form>
</div>
